.*.sw?
**/.*.sw?
.sw?

# ignore vagrant bits
.vagrant/

# ignore .bak files if created
*.bak

# ignore agent stuff, in the event I run claude in here or something
.claude/

# ignore object files and other build artifacts
*.o
*.mod
*.cmd
*.mod.c
Module.symvers
.Module.symvers.cmd
modules.order
.modules.order.cmd
*.ko

# ignore log files and such from testing
*.log
